.widget
  .widget-title
    i(class='fa fa-bar-chart')= ' ' + __('visitors')
  ul  
  <a href="http://s05.flagcounter.com/more/IVe"><img src="http://s05.flagcounter.com/countxl/IVe/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_12/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="" border="0" /></a>