.widget
  .widget-title
    i(class='fa fa-weibo')= ' ' + __('weibo')
  ul  
  <iframe width="100%" height="120 class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=199&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2705524937&verifier=0f81d6c8&dpc=1"></iframe>