//Color
_color-theme = convert(hexo-config("theme_color.theme"))
if(_color-theme is a 'rgba')
  color-theme = _color-theme
else
  color-theme = #2ca6cb //主题背景颜色
  
color-background = #ddd //文章以外的背景颜色
color-font = #817C7C  //各个标签字体颜色以及友链,微博分享等的图标颜色
color-content = #413F3F  //文章字体颜色 
color-white = #ffffff  //导航栏字体颜色，右侧RSS订阅，底栏字体已经个人信息图标颜色
color-blue = #2ca6cb   //标题字体颜色，包括超链接<a></a> 以及作者名字，右侧主标签（分类，标签，友链）颜色
color-orange = #ea6753  //标题鼠标移到标题等部分color-blue处后颜色
color-font-nav = #E9CD4C  //导航栏鼠标移至后的颜色
color-section = #fafafa  //文章的背景颜色	 
color-footer = #1f1f1f   //页面最下方的背景颜色
color-gray = #CCC     //分割线的颜色，以及标签的底色
color-meta = #808080    //图片信息字体颜色
color-heading = #333333   //部分字体颜色 ##号字体
color-quote = #f5f5f5    //四个空格后的代码块背景颜色
color-code = #eee       //```之间的代码背景颜色
color-twitter = #00aced   //分享至Twitter处 鼠标移至后的颜色
color-facebook = #3b5998   //分享处 鼠标移至后的颜色
color-weibo = #c64d3e     //分享处 鼠标移至后的颜色
color-google = #dd4b39   //分享处 鼠标移至后的颜色
color-qrcode= #49ae0f
color-renren= #369
color-top = #762c54

//Media
width-phone = 568px
width-mini = 768px
width-tablet = 1024px
width-desktop = 1560px
phone = "only screen and (min-width: " + width-phone + ")"
mini= "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"
phonemax = "only screen and (max-width: " + width-phone + ")"
tabletmax = "only screen and (max-width: " + width-tablet + ")"

//Font
font-default = "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-custom-family = inherit  //英文字体inherit
font-custom-filename = coveredbyyourgrace-webfont
font-icon-family = "FontAwesome"
font-icon-filename = fontawesome-webfont
font-icon-version = "4.0.3"
font-icon-diao = "fontdiao"
font-icon-diao-filename = "fontdiao"
font-icon-diao-version = "0.0.8"
ShowCustomFont = hexo-config("ShowCustomFont")
font-size = 100%
line-height = 1.5
//image
author-img = hexo-config("author_img")

//comment
duoshuo = hexo-config("duoshuo_shortname")

//banner image
banner-img = hexo-config("banner_img")
